Repository Memory-Experience/momento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

.lintstagedrc.yaml:

"!packages/**/*": "prettier --ignore-unknown --write"
"packages/docs/*": "prettier --ignore-unknown --write"
"packages/web/**/*.{ts,tsx}":
  - "prettier --ignore-unknown --write"
  - "pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored"
"packages/!(docs|web|protos)/**/*.{py,toml}":
  # Format first, then lint without isort checks
  - "uvx ruff format"
  - "uvx ruff check --fix --show-fixes"

f Add api documentation
  packages/docs/mkdocs.yml
  packages/docs/src/api/architecture.md
  packages/docs/src/api/models.md
  packages/docs/src/api/services.md
  packages/docs/src/api/websocket_endpoints.md
Due: prettier --ignore-unknown --write

F Introducing documentation for the web package
  packages/docs/mkdocs.yml
  packages/docs/src/web/index.md
  packages/web/public-api.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

r Configuring prettier to use indentation of 4 spaces in the docs package - MkDocs require an indent of 4 spaces for correct indentation of i.e. bulletin lists
  packages/docs/.prettierrc.yaml
  packages/docs/mkdocs.yml
  packages/docs/src/assets/style.css
  packages/docs/src/web/index.md
Due: prettier --ignore-unknown --write

F Updating and improving web documentation
  packages/docs/mkdocs.yml
  packages/docs/src/web/architecture.md
  packages/docs/src/web/communication.md
  packages/docs/src/web/index.md
  packages/docs/src/web/testing.md
Due: prettier --ignore-unknown --write

R Updating web package README and move part of its testing documentation there
  packages/docs/src/web/testing.md
  packages/web/README.md
Due: none

f Add results
  packages/evaluation/evaluation_ms_marco_qna_dev_10k.ipynb
  packages/evaluation/runs/ms_marco_qna_dev_baseline_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_baseline_1m.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_qwen3_0.6B_1m.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_100k.json
  packages/evaluation/runs/openlifelog_qa_baseline_20251007_002718.json
  packages/evaluation/runs/openlifelog_qa_qwen3_0.6B_20251007_005210.json
  packages/evaluation/runs/openlifelog_qa_sbert_20251007_010713.json
  uv.lock
Due: none

f Add results
  packages/evaluation/evaluation_ms_marco_qna_dev_10k.ipynb
  packages/evaluation/runs/ms_marco_qna_dev_baseline_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_baseline_1m.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_qwen3_0.6B_1m.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_100k.json
  uv.lock
Due: none

Add git lfs
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

Add results and jupyter notebooks
  .gitattributes
  packages/evaluation/evaluation_ms_marco_passage.ipynb
  packages/evaluation/evaluation_ms_marco_qna.ipynb
  packages/evaluation/evaluation_ms_marco_qna_dev_10k.ipynb
  packages/evaluation/evaluation_openlifelog_qa.ipynb
  packages/evaluation/evaluation_openlifelog_qa_10k.ipynb
  packages/evaluation/runs/ms_marco_passage_dev_baseline.json
  packages/evaluation/runs/ms_marco_passage_dev_qwen3_0.6B.json
  packages/evaluation/runs/ms_marco_passage_dev_sbert.json
  packages/evaluation/runs/ms_marco_qna_dev_baseline_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_baseline_10k.json
  packages/evaluation/runs/ms_marco_qna_dev_baseline_1m.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_10k.json
  packages/evaluation/runs/ms_marco_qna_dev_qwen3_0.6B_1m.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_10k.json
  packages/evaluation/runs/ms_marco_qna_full_dev_baseline.json
  packages/evaluation/runs/ms_marco_qna_full_dev_qwen3_0.6B.json
  packages/evaluation/runs/ms_marco_qna_full_dev_sbert.json
  packages/evaluation/runs/openlifelog_qa_baseline.json
  packages/evaluation/runs/openlifelog_qa_baseline_10k.json
  packages/evaluation/runs/openlifelog_qa_baseline_20251007_002718.json
  packages/evaluation/runs/openlifelog_qa_momento_10k.json
  packages/evaluation/runs/openlifelog_qa_qwen3_0.6B.json
  packages/evaluation/runs/openlifelog_qa_qwen3_0.6B_20251007_005210.json
  packages/evaluation/runs/openlifelog_qa_sbert.json
  packages/evaluation/runs/openlifelog_qa_sbert_10k.json
  packages/evaluation/runs/openlifelog_qa_sbert_20251007_010713.json
Due: none

Add results and jupyter notebooks
  .gitattributes
  packages/evaluation/evaluation_ms_marco_passage.ipynb
  packages/evaluation/evaluation_ms_marco_qna.ipynb
  packages/evaluation/evaluation_ms_marco_qna_dev_10k.ipynb
  packages/evaluation/evaluation_openlifelog_qa.ipynb
  packages/evaluation/evaluation_openlifelog_qa_10k.ipynb
  packages/evaluation/runs/ms_marco_passage_dev_baseline.json
  packages/evaluation/runs/ms_marco_passage_dev_qwen3_0.6B.json
  packages/evaluation/runs/ms_marco_passage_dev_sbert.json
  packages/evaluation/runs/ms_marco_qna_dev_baseline_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_baseline_10k.json
  packages/evaluation/runs/ms_marco_qna_dev_baseline_1m.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_10k.json
  packages/evaluation/runs/ms_marco_qna_dev_qwen3_0.6B_1m.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_100k.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_10k.json
  packages/evaluation/runs/ms_marco_qna_full_dev_baseline.json
  packages/evaluation/runs/ms_marco_qna_full_dev_qwen3_0.6B.json
  packages/evaluation/runs/ms_marco_qna_full_dev_sbert.json
Due: none

f Add readme description for git lfs
  packages/evaluation/README.md
Due: none

f Reformat and fix links in docs
  packages/docs/src/evaluation/analysis/evaluation_ms_marco_passage.ipynb
  packages/docs/src/evaluation/analysis/evaluation_ms_marco_qna.ipynb
  packages/docs/src/evaluation/analysis/evaluation_openlifelog_qa.ipynb
  packages/docs/src/evaluation/analysis/ms_marco_qna_dev_10k.ipynb
  packages/docs/src/evaluation/analysis/openlifelog_qa_10k.ipynb
  packages/evaluation/evaluation_ms_marco_passage.ipynb
  packages/evaluation/evaluation_ms_marco_qna.ipynb
  packages/evaluation/evaluation_openlifelog_qa.ipynb
Due: none

f Update msmarco qna qwen3 results
  packages/evaluation/evaluation_ms_marco_qna.ipynb
  packages/evaluation/runs/ms_marco_qna_full_dev_qwen3_0.6B.json
Due: none

f add timelineQA results
  packages/docs/src/evaluation/analysis/evaluation_timeline_qa_dense.ipynb
  packages/docs/src/evaluation/analysis/evaluation_timeline_qa_medium.ipynb
  packages/docs/src/evaluation/analysis/evaluation_timeline_qa_sparse.ipynb
  packages/evaluation/evaluation_timeline_qa_dense.ipynb
  packages/evaluation/evaluation_timeline_qa_medium.ipynb
  packages/evaluation/evaluation_timeline_qa_sparse.ipynb
  packages/evaluation/runs/timeline_qa_dense_baseline.json
  packages/evaluation/runs/timeline_qa_dense_qwen3_0.6B.json
  packages/evaluation/runs/timeline_qa_dense_sbert.json
  packages/evaluation/runs/timeline_qa_medium_baseline.json
  packages/evaluation/runs/timeline_qa_medium_qwen3_0.6B.json
  packages/evaluation/runs/timeline_qa_medium_sbert.json
  packages/evaluation/runs/timeline_qa_sparse_baseline.json
  packages/evaluation/runs/timeline_qa_sparse_qwen3_0.6B.json
  packages/evaluation/runs/timeline_qa_sparse_sbert.json
Due: none

f Ignore jupyter notebooks in linter
  ruff.toml
Due: none

f add gitignore for cluster relevant files
  .gitignore
  packages/api/.gitignore
  packages/evaluation/.gitignore
Due: none

f Downgrade python to 3.11 fixed (cluster version)
  .python-version
  packages/api/pyproject.toml
  packages/docs/pyproject.toml
  packages/evaluation/pyproject.toml
  packages/protos/pyproject.toml
  pyproject.toml
  uv.lock
Due: prettier --ignore-unknown --write

f set torch to cpu for local
  pyproject.toml
Due: none

f Change threshold to 0
  packages/api/dependency_container.py
Due: none

f Add absolute recording path
  packages/api/dependency_container.py
Due: none

f Change recordingdir abspath relative to DI container
  packages/api/dependency_container.py
Due: none
