Repository Memory-Experience/momento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file, uvx ruff format, uvx ruff check --fix --show-fixes

B Fixing `api` tests
  packages/api/tests/test_main.py
Due: uvx ruff format, uvx ruff check --fix --show-fixes

B Selectively install triton, so it doesn't crash on MacOs
  packages/api/pyproject.toml
  uv.lock
Due: uvx ruff format, uvx ruff check --fix --show-fixes

F Introducing message specific components
  packages/web/__tests__/components/Chat.test.tsx
  packages/web/__tests__/components/ui/Message.test.tsx
  packages/web/__tests__/components/ui/MessageEmptyState.test.tsx
  packages/web/__tests__/components/ui/MessageList.test.tsx
  packages/web/components/Chat.tsx
  packages/web/components/ui/Message.tsx
  packages/web/components/ui/MessageEmptyState.tsx
  packages/web/components/ui/MessageList.tsx
  packages/web/types/Message.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

R Moving tests to folders with the components they test
  packages/web/app/layout.test.tsx
  packages/web/app/page.test.tsx
  packages/web/components/Chat.test.tsx
  packages/web/components/controls/AudioRecorder.test.tsx
  packages/web/components/controls/TranscribedRecorder.test.tsx
  packages/web/components/ui/Header.test.tsx
  packages/web/components/ui/Message.test.tsx
  packages/web/components/ui/MessageEmptyState.test.tsx
  packages/web/components/ui/MessageList.test.tsx
  packages/web/jest.config.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

B Fixing some lifecycle issues and extracting thinking part
  packages/web/components/Chat.test.tsx
  packages/web/components/Chat.tsx
  packages/web/components/ui/MessageList.tsx
  packages/web/hooks/useWebSocket.tsx
  packages/web/types/Message.ts
  packages/web/utils/message.reducers.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

F Extract thinking text into accordion
  packages/web/components/ui/Message.test.tsx
  packages/web/components/ui/Message.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

B Fix saving of memories
  packages/api/memory_persist_service.py
Due: uvx ruff format, uvx ruff check --fix --show-fixes

f Add evaluation jupyter notebook
  packages/evaluation/evaluation.ipynb
  packages/evaluation/pyproject.toml
  packages/evaluation/runs/ms_marco_qna_dev_baseline_20250930_205808.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_20250930_230649.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_20251001_011047.json
  packages/evaluation/runs/ms_marco_small_baseline_20250924_225522.json
  packages/evaluation/runs/ms_marco_small_momento_20250925_073946.json
  packages/evaluation/runs/timeline_qa_dense_baseline_20250924_225452.json
  packages/evaluation/runs/timeline_qa_medium_baseline_20250924_225317.json
  packages/evaluation/runs/timeline_qa_medium_momento_20250925_135848.json
  packages/evaluation/runs/timeline_qa_sparse_baseline_20250924_225237.json
  packages/evaluation/runs/timeline_qa_sparse_momento_20250925_025359.json
  uv.lock
Due: none

B Updating evaluation to use question answer service
  packages/evaluation/main.py
  packages/evaluation/rag_evaluation_client.py
Due: none

F Enabling on commit formatting and linting for docs and evaluation packages
  .lintstagedrc.yaml
Due: none

B Fixing linting issues
  packages/api/models/llama_cpp_base.py
  packages/evaluation/dataset/timeline_qa_dataset.py
  packages/evaluation/rag_evaluation_client.py
Due: uvx ruff format, uvx ruff check --fix --show-fixes

B Fixing type error in test file to fix typedoc build
  packages/web/components/Chat.test.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

B Resetting doc limit for evaluation
  packages/evaluation/main.py
Due: none

b Fix invalid formatting
  packages/evaluation/evaluation.ipynb
Due: none

f Add evaluation architecture documentation
  packages/docs/mkdocs.yml
  packages/docs/src/evaluation/architecture.md
  packages/docs/src/evaluation/baselines.md
  packages/docs/src/evaluation/configuration.md
  packages/docs/src/evaluation/data_loading.md
  packages/docs/src/evaluation/datasets.md
  packages/docs/src/evaluation/metrics.md
Due: none

b Fix linting issues
  packages/evaluation/evaluation.ipynb
Due: none

F Integrating PlantUML and documenting application overview
  packages/docs/mkdocs.yml
  packages/docs/pyproject.toml
  packages/docs/src/index.md
  packages/docs/src/readme_link.md
  uv.lock
Due: none

f Linking github pages via its workflow status badge
  README.md
Due: none

r Formatting with prettier
  packages/docs/src/index.md
Due: none

f format code with ruff and prettier
  packages/evaluation/evaluation.ipynb
Due: none

f review of documentation and minor modifications
  packages/docs/src/evaluation/metrics.md
Due: none

Path conditions:
  prettier --ignore-unknown --write: any of: packages/web/**/*.{ts,tsx}
  pnpm run --dir packages/web lint --max-warnings 0 --fix --file: any of: packages/web/**/*.{ts,tsx}
  uvx ruff format: any of: packages/api/**/*.{py,toml}
  uvx ruff check --fix --show-fixes: any of: packages/api/**/*.{py,toml}
