Repository Memory-Experience/momento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

B Fixing types in web tests
  packages/web/__tests__/components/controls/AudioRecorder.test.tsx
  packages/web/__tests__/components/controls/TranscribedRecorder.test.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

B Fix saving of memories
  packages/api/memory_persist_service.py
Due: none

B Fixing type error in test file to fix typedoc build
  packages/web/components/Chat.test.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

F Introducing message specific components
  packages/web/__tests__/components/Chat.test.tsx
  packages/web/__tests__/components/ui/Message.test.tsx
  packages/web/__tests__/components/ui/MessageEmptyState.test.tsx
  packages/web/__tests__/components/ui/MessageList.test.tsx
  packages/web/components/Chat.tsx
  packages/web/components/ui/Message.tsx
  packages/web/components/ui/MessageEmptyState.tsx
  packages/web/components/ui/MessageList.tsx
  packages/web/types/Message.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

F Enabling transcription in UI
  packages/api/main.py
  packages/api/pyproject.toml
  packages/web/__tests__/components/controls/AudioRecorder.test.tsx
  packages/web/__tests__/components/controls/TranscribedRecorder.test.tsx
  packages/web/components/Chat.tsx
  packages/web/components/controls/AudioRecorder.tsx
  packages/web/components/controls/TranscribedRecorder.tsx
  packages/web/context/RecordingContext.tsx
  packages/web/eslint.config.mjs
  packages/web/jest.config.ts
  packages/web/jest.setup.ts
  packages/web/package.json
  packages/web/public/worklets/audio-recorder.worklet.js
  packages/web/types/RecordingContextType.ts
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

F Introducing initial dark/light mode switch
  packages/web/app/globals.css
  packages/web/app/layout.tsx
  packages/web/components/ThemeProvider.tsx
  packages/web/components/ui/Header.tsx
  packages/web/jest.setup.ts
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

B Fixing lifecycle issue
  packages/web/__tests__/components/controls/TranscribedRecorder.test.tsx
  packages/web/components/Chat.tsx
  packages/web/hooks/useWebSocket.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

R Fixing layout using grid layout
  packages/web/app/page.tsx
  packages/web/components/Chat.tsx
  packages/web/components/ui/Header.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

B Fixing `api` tests
  packages/api/tests/test_main.py
Due: none

B Fixing linting issues
  packages/api/models/llama_cpp_base.py
  packages/evaluation/dataset/timeline_qa_dataset.py
  packages/evaluation/rag_evaluation_client.py
Due: none

B Fixing some lifecycle issues and extracting thinking part
  packages/web/components/Chat.test.tsx
  packages/web/components/Chat.tsx
  packages/web/components/ui/MessageList.tsx
  packages/web/hooks/useWebSocket.tsx
  packages/web/types/Message.ts
  packages/web/utils/message.reducers.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

R Moving tests to folders with the components they test
  packages/web/app/layout.test.tsx
  packages/web/app/page.test.tsx
  packages/web/components/Chat.test.tsx
  packages/web/components/controls/AudioRecorder.test.tsx
  packages/web/components/controls/TranscribedRecorder.test.tsx
  packages/web/components/ui/Header.test.tsx
  packages/web/components/ui/Message.test.tsx
  packages/web/components/ui/MessageEmptyState.test.tsx
  packages/web/components/ui/MessageList.test.tsx
  packages/web/jest.config.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

F Splitting question handling from transcription service
  packages/api/main.py
  packages/api/question_answer_service.py
  packages/api/tests/test_main.py
  packages/api/transcription_servicer.py
  packages/web/__tests__/components/Chat.test.tsx
  packages/web/components/Chat.tsx
  packages/web/hooks/useWebSocket.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored

r Update all inconsistent api docstrings
  packages/api/dependency_container.py
  packages/api/domain/memory_context.py
  packages/api/domain/memory_request.py
  packages/api/main.py
  packages/api/memory_persist_service.py
  packages/api/models/embedding/llama_cpp_embedding.py
  packages/api/models/embedding/qwen3_embedding.py
  packages/api/models/embedding/sbert_embedding.py
  packages/api/models/huggingface_helper.py
  packages/api/models/llama_cpp_base.py
  packages/api/models/llm/llama_cpp_model.py
  packages/api/models/llm/llm_model_interface.py
  packages/api/models/llm/qwen3.py
  packages/api/models/spacy_sentence_chunker.py
  packages/api/models/text_chunker_interface.py
  packages/api/models/transcription/transcriber_interface.py
  packages/api/persistence/repositories/in_memory_repository.py
  packages/api/question_answer_service.py
  packages/api/transcription_servicer.py
  packages/api/vector_store/repositories/qdrant_vector_store_repository.py
  packages/api/vector_store/vector_store_service.py
  packages/evaluation/rag_evaluation_client.py
Due: none

f Add openlifelog results
  packages/evaluation/evaluation_ms_marco_qna_dev_10k.ipynb
  packages/evaluation/evaluation_openlifelog_qa.ipynb
  packages/evaluation/pyproject.toml
  packages/evaluation/runs/ms_marco_qna_dev_baseline_10k.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_10k.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_10k.json
  packages/evaluation/runs/openlifelog_qa_baseline_10k.json
  packages/evaluation/runs/openlifelog_qa_momento_10k.json
  packages/evaluation/runs/openlifelog_qa_sbert_10k.json
  uv.lock
Due: none

f Add openlifelog results
  packages/evaluation/evaluation_ms_marco_qna_dev_10k.ipynb
  packages/evaluation/evaluation_openlifelog_qa.ipynb
  packages/evaluation/pyproject.toml
  packages/evaluation/runs/ms_marco_qna_dev_baseline_10k.json
  packages/evaluation/runs/ms_marco_qna_dev_momento_10k.json
  packages/evaluation/runs/ms_marco_qna_dev_sbert_10k.json
  uv.lock
Due: none

f Add jupyter notebooks to documentation
  packages/docs/mkdocs.yml
  packages/docs/pyproject.toml
  packages/docs/src/evaluation/analysis/ms_marco_qna_dev_10k.ipynb
  packages/docs/src/evaluation/analysis/openlifelog_qa_10k.ipynb
  packages/evaluation/evaluation_ms_marco_qna_dev_10k.ipynb
  packages/evaluation/evaluation_openlifelog_qa_10k.ipynb
  uv.lock
Due: prettier --ignore-unknown --write

f Fix deprecation warning in evaluation notebooks
  packages/evaluation/evaluation_ms_marco_qna_dev_10k.ipynb
  packages/evaluation/evaluation_openlifelog_qa_10k.ipynb
Due: none

f Add jupyter guide to readme
  packages/evaluation/README.md
Due: none

r Change docstring style to google
  packages/api/dependency_container.py
  packages/api/domain/memory_request.py
  packages/api/memory_persist_service.py
  packages/api/models/embedding/sbert_embedding.py
  packages/api/models/huggingface_helper.py
  packages/api/models/spacy_sentence_chunker.py
  packages/api/models/text_chunker_interface.py
  packages/api/models/transcription/faster_whisper_transcriber.py
  packages/api/models/transcription/transcriber_interface.py
  packages/api/persistence/repositories/in_memory_repository.py
  packages/api/question_answer_service.py
  packages/api/transcription_servicer.py
Due: none

r Update and enhance evaluation docstrings
  packages/evaluation/baseline/bm25_dataset_loader.py
  packages/evaluation/baseline/lucene_vector_store_repository.py
  packages/evaluation/baseline/memory_reciter_llm_model.py
  packages/evaluation/dataset/dataset.py
  packages/evaluation/dataset_loader.py
  packages/evaluation/metrics/cross_encoder_scorer.py
  packages/evaluation/metrics/generation_metrics.py
  packages/evaluation/metrics/retrieval_metrics.py
Due: none

r Change docstring style to google
  packages/evaluation/baseline/bm25_dataset_loader.py
  packages/evaluation/baseline/lucene_vector_store_repository.py
  packages/evaluation/baseline/memory_reciter_llm_model.py
  packages/evaluation/dataset/dataset.py
  packages/evaluation/dataset_loader.py
  packages/evaluation/metrics/cross_encoder_scorer.py
  packages/evaluation/metrics/generation_metrics.py
  packages/evaluation/metrics/retrieval_metrics.py
  packages/evaluation/rag_evaluation_client.py
Due: none

f Add api documentation
  packages/docs/mkdocs.yml
  packages/docs/src/api/architecture.md
  packages/docs/src/api/models.md
  packages/docs/src/api/services.md
  packages/docs/src/api/websocket_endpoints.md
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: (any of: packages/docs/*) or (any of: packages/web/**/*.{ts,tsx})
  pnpm run --dir packages/web lint --max-warnings 0 --fix --no-warn-ignored: any of: packages/web/**/*.{ts,tsx}
