Repository Memory-Experience/momento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file, uvx ruff format, uvx ruff check --fix --show-fixes

.lintstagedrc.yaml:

"!packages/**/*": "prettier --ignore-unknown --write"
"packages/web/**/*.{ts,tsx}":
  - "prettier --ignore-unknown --write"
  - "pnpm run --dir packages/web lint --max-warnings 0 --fix --file"
"packages/api/**/*.{py,toml}":
  # Format first, then lint without isort checks
  - "uvx ruff format"
  - "uvx ruff check --fix --show-fixes"

f review of documentation and minor modifications
  packages/docs/src/evaluation/metrics.md
Due: none

f prettified
  packages/docs/src/evaluation/metrics.md
Due: none

r Omitting audio persistence in docs as we currently aren't storing it
  packages/docs/src/index.md
Due: none

r Adapting test scripts
  .github/workflows/build.yaml
  package.json
  packages/web/package.json
Due: none

F Introducing header
  packages/web/__tests__/components/Chat.test.tsx
  packages/web/__tests__/components/ui/Header.test.tsx
  packages/web/app/layout.tsx
  packages/web/app/page.tsx
  packages/web/components/ui/Header.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

B Removing unknown public api interfaces
  packages/web/public-api.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

F Introducing initial chat layout and buttons
  packages/web/__tests__/components/Chat.test.tsx
  packages/web/app/page.tsx
  packages/web/components/Chat.tsx
  packages/web/components/ui/Header.tsx
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

F Introducing frontend unit tests using jest and react-testing-library
  packages/web/__tests__/app/layout.test.tsx
  packages/web/__tests__/app/page.test.tsx
  packages/web/jest.config.ts
  packages/web/jest.setup.ts
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

F Introducing initial chat component
  packages/web/__tests__/app/page.test.tsx
  packages/web/__tests__/components/Chat.test.tsx
  packages/web/app/page.tsx
  packages/web/components/Chat.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

F Including logo in header component
  packages/web/__tests__/components/ui/Header.test.tsx
  packages/web/components/ui/Header.tsx
  packages/web/public/logo.png
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

F Scrolling to the bottom when messages change
  packages/web/components/Chat.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

B FIxing test by mocking scrollIntoView call
  packages/web/jest.setup.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

B Fixing `api` tests
  packages/api/tests/test_main.py
Due: uvx ruff format, uvx ruff check --fix --show-fixes

F Splitting memory saving from transcripton and allow storing from frontend
  packages/api/domain/memory_request.py
  packages/api/main.py
  packages/api/memory_persist_service.py
  packages/api/tests/test_main.py
  packages/api/transcription_servicer.py
  packages/web/__tests__/components/Chat.test.tsx
  packages/web/components/Chat.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file, uvx ruff format, uvx ruff check --fix --show-fixes

B Updating evaluation to use question answer service
  packages/evaluation/main.py
  packages/evaluation/rag_evaluation_client.py
Due: none

F Introducing message specific components
  packages/web/__tests__/components/Chat.test.tsx
  packages/web/__tests__/components/ui/Message.test.tsx
  packages/web/__tests__/components/ui/MessageEmptyState.test.tsx
  packages/web/__tests__/components/ui/MessageList.test.tsx
  packages/web/components/Chat.tsx
  packages/web/components/ui/Message.tsx
  packages/web/components/ui/MessageEmptyState.tsx
  packages/web/components/ui/MessageList.tsx
  packages/web/types/Message.ts
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file

B Resetting doc limit for evaluation
  packages/evaluation/main.py
Due: none

F Extract thinking text into accordion
  packages/web/components/ui/Message.test.tsx
  packages/web/components/ui/Message.tsx
Due: prettier --ignore-unknown --write, pnpm run --dir packages/web lint --max-warnings 0 --fix --file
